
*.jpg
*.RData
.DS_Store
.Rhistory
Preliminary Study/Homogeneity/Cosine/allminilm.csv
Preliminary Study/Homogeneity/Cosine/distilroberta.csv
Preliminary Study/Homogeneity/Cosine/mpnetbase.csv
Study 1/Homogeneity/Cosine/allminilm.csv
Study 1/Homogeneity/Cosine/distilroberta.csv
Study 1/Homogeneity/Cosine/mpnetbase.csv
Study 2/Homogeneity/Cosine/allminilm.csv
Study 2/Homogeneity/Cosine/distilroberta.csv
Study 2/Homogeneity/Cosine/mpnetbase.csv
